
* {
    margin: o;
    padding: o;
    box-sizing: border-box;
}

body {
    margin: 20px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/* header */
.principal{
background-color: rgb(210, 62, 62);
}

h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(244, 240, 240);
    font-size: 60px;
    text-align: left;
}

.introduccion{
    margin: 20px;
    padding: 20px;
}

h2 {
    color: rgb(53, 52, 52);
    background-color: white;
    font-size: 0,5rem;
    text-align: left;
    padding: 10px;
}

/* links del header */
ul {
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: white;
}

/* main */

main{
    background-color: white;
}

p {
    display:flex;
    color: black;
    display: block;
    width: 100%;
    padding: 2%;
    margin: 10px 0;
    text-align: justify;
    
}

.segunda-propuesta {
    background-color: rgb(47, 46, 46);
    color: rgb(255, 255, 255);
}

section h1 {
    background-color: rgb(2248, 189, 166);
    color: rgb(45, 44, 44);
    font-size: 40px;
    padding: 15px;

}

section h2 {
    color: rgb(49, 49, 49, 0.863);
    font-size: 25px;
}

.cuadros{
    margin: 15px;

}

.objetos {
    width: 300px;
}


/* no encontré la manera de ordenarlo bien en modo desktop */
.caja-de-mensajes{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    height: 40hv;
    min-width: 300px;
    background-color: rgba(243, 191, 159, 0.871);
    border: 1px, solid, rgb(165, 72, 72);
    padding: 2rem;
    border-radius: 2%;
}

.mi-informacion {
    background-color: rgb(54, 54, 54);
    color: white;
}

.mensajes{
background-color: white;
}

h3 {
    background-color: rgb(255, 252, 252);
    color: rgb(9, 9, 9);
    font-size: 0,3rem;
}

h4 { 
    background-color: rgb(241, 228, 221);
    padding: 10px;
}

.imagen-contacto {
    align-self: center;
    width: 100%;
    max-height: 300px; 
    display: block; 
    align-items: center;
}

h5 {
    color: rgb(205, 49, 49);
}

.mensaje {
    color: rgb(84, 84, 84);
    width: 90%; 
    max-width: 500px;
}

section form {
    margin: 0 auto;
    color:rgb(45, 44, 44);     
    width: 300px;
    background-color: grey;
    padding: 10px;
    border-radius: 2px;
}


.instagram {
    width: 20px;
}

/* pseudoelementos */

::selection{
    background-color: crimson;
    color: white;
}

.cuadros{
    display:flex;
    justify-content:space-evenly;
    background-color: white;
    flex-wrap: wrap;
    space: arround 20px;
    gap:20px;
}

.noticias{
    display:flex;
    justify-content:space-evenly;
    background-color: rgba(255, 255, 255, 0.595);
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.compras{
    display:flex;
    justify-content:space-evenly;
    background-color: rgba(255, 255, 255, 0.595);
    align-items: center;
    flex-wrap: wrap;
}

.mural-byn{
    width: 100%;
}

.sobre-mi{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    padding: 20px;
    
}

.cuadricula{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}

.img-productos{
    max-width: 700px;
}

.dibujos{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}

.newsletter{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:10px;
}

footer{
    background-color: rgb(255, 255, 255);
}

.img-intro{
    display:flex;
    flex-wrap: wrap;
}

.objetos{
    display:flex;
    flex-wrap: wrap;
}

.cosas{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.redes{
    display:flex;
    background-color: #ffffff;
    padding: 30px;
    flex-wrap: wrap;
}