
@use '../utilities/variables' as *;


.principal{
    background-color: $color-header;
}

ul {
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: $color-titulo;
    background-color: $color-fondo;
}

.navbar-toggler:hover{
    color: coral;
    

}

.color-nav{
    background-color: lightgoldenrodyellow;
}
