
/* colores */
$color-fondo: white;
$color-header: coral;
$color-fondo-sech1: rgb(248, 189, 166);
$color-fondo-secundario: rgb(47, 46, 46);
$color-fondo-apartado: antiquewhite;
$color-fondo-apartado2: rgb(243, 225, 202);
$color-fondo-extra: rgb(255, 203, 185);
$color-titulo: black;
$color-subtitulo:  rgb(35, 34, 34);
$color-texto-secundario: white;
$color-texto-sech: rgb(49, 49, 49);
$color-sech2: rgb(49, 49, 49);
$color-h4: rgb(55, 54, 54); 
$color-h5: rgb(100, 5, 25);
$color-resaltado: crimson;
$color-newsletter: rgb(250, 160, 127);

/* fuentes */
$font-principal: Arial, Helvetica, sans-serif;

/* medidas */
$borde-redondeado: 12px;
$padding-texto: 10px;
$padding-contenido: 20px;

