
@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;


.caja-de-mensajes{
    display: flex;
    min-width: 400px;
    background-color: $color-fondo-extra;
    border: 1px solid $color-resaltado;
    padding: $padding-texto;
    gap: 10px;
    margin: 10px;
    border-radius: $borde-redondeado;
}

.mensajes{
    @include flex-base (wrap, null);
    background-color: $color-fondo-extra;
    color: $color-resaltado;
    padding: $padding-texto;
    gap: 10px;
    border-radius: $borde-redondeado;
    font-weight: bold;
    font-size: 0,3rem;
}


.noticias{
    @include flex-base (wrap, space-evenly);
    background-color: lightgoldenrodyellow;
    align-items: center;
    padding: 30px;
    font-weight: bold;
    font-size: 0,5rem;
}

.campo-redondo{
    border-radius: 5px;
    border-color: coral;
    padding: 8px;
    background-color: lightgoldenrodyellow;

}


